/*
=========================
IMPORTED GOOGLE FONTS
=========================
*/

/* @import allows us to load external fonts from Google Fonts so we can use them in our site. */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*
=========================
CLEANUP DEFAULT STYLES
=========================
*/

/* :root is a pseudo-class that matches the document's root element.
   We use it to define CSS Variables (custom properties) typically starting with '--'.
   This makes it easy to maintain and change colors/fonts in one place. */
:root {
  /* Color Swatches and Fonts */
  --color-primary: #123132;
  --color-secondary: #ffedc5;
  --color-headings: #f8551a;
  --color-header: #6b372b;

  --color-body-text: #3c3c3c;
  --color-white: #ffffff;

  --color-button: #4eac86;
  --color-hover: #4b8e73;
  --color-form-input: #d9d9d9;
}

/* Sets smooth scrolling behavior for the whole page when clicking anchor links. */
html {
  scroll-behavior: smooth;
}

/* Styles applied to the <body> affect the entire visible page text by default. */
body {
  color: var(--color-body-text); /* Uses the variable defined in :root */
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

/* Shared styles for all heading levels (h1 through h6). */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  color: var(--color-headings);
}

/* Specific styles for H1 headings. */
h1,
h2 {
  line-height: 1.1;
}

h3,
h4,
h5 {
  line-height: 1.3;
}

h3,
p {
  margin-bottom: 1.25rem;
}

h5,
h6 {
  margin-bottom: 0.5rem;
}

h6,
p {
  font-size: 1rem;
}

h1 {
  font-size: clamp(1.5rem, 0.4896rem + 6.7925vw, 3.75rem) !important;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: clamp(1.25rem, 0.408rem + 5.6604vw, 3.125rem);
  margin-bottom: 1rem;
}

h3 {
  font-size: clamp(1.125rem, 0.5075rem + 4.1509vw, 2.5rem);
  font-size: 1.5rem;
}

h4 {
  font-size: clamp(1.125rem, 0.7321rem + 2.6415vw, 2rem);
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: black;
}

.custom-textarea{
  height: 200px;;
}

.form-control:focus {
  border-color: var(--color-hover) !important;
  box-shadow: none;
}