/*
=========================
IMPORTED GOOGLE FONTS
=========================
*/

/* @import allows us to load external fonts from Google Fonts so we can use them in our site. */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*
=========================
CLEANUP DEFAULT STYLES
=========================
*/

/* The asterisk (*) is a universal selector. It selects ALL elements.
   We set margin and padding to 0 to remove browser default spacing.
   box-sizing: border-box ensures padding and borders are included in the element's total width/height. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root is a pseudo-class that matches the document's root element.
   We use it to define CSS Variables (custom properties) typically starting with '--'.
   This makes it easy to maintain and change colors/fonts in one place. */
:root {
  /* Color Swatches and Fonts */
  --color-primary: #123132;
  --color-secondary: #ffedc5;
  --color-headings: #f8551a;
  --color-header: #6b372b;

  --color-body-text: #3c3c3c;
  --color-white: #ffffff;

  --color-button: #4eac86;
  --color-hover: #4b8e73;
  --color-form-input: #d9d9d9;
}

/* Sets smooth scrolling behavior for the whole page when clicking anchor links. */
html {
  scroll-behavior: smooth;
}

/* Styles applied to the <body> affect the entire visible page text by default. */
body {
  color: var(--color-body-text); /* Uses the variable defined in :root */
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Shared styles for all heading levels (h1 through h6). */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: var(--color-headings);
}

/* Specific styles for H1 headings. */
h1,
h2 {
  line-height: 1.1;
}

h3,
h4,
h5 {
  line-height: 1.3;
}

h3,
p {
  margin-bottom: 1.25rem;
}

h5,
h6 {
  margin-bottom: 0.5rem;
}

h6,
p {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: black;
}

.custom-textarea{
  height: 200px;;
}